<!-- stats.component.html -->

<div>
    <input type="file" (change)="onFileSelected($event)" />
    <button class="modern-button" (click)="extractParagraphs()">Upload & Extract Paragraphs</button>
  </div>
  
  <div *ngIf="uploadedParagraphs.length > 0">
    <h2>Uploaded Paragraphs</h2>
    <table class="modern-table">
      <tr *ngFor="let paragraph of uploadedParagraphs">
        <td>{{ paragraph }}</td>
      </tr>
    </table>
  
    <button class="modern-button" (click)="tokenizeParagraphs()">Tokenize Paragraphs</button>
  </div>
  
  <div *ngIf="tokenizedWords.length > 0">
    <h2>Tokenized Words</h2>
    <div class="tokenized-words-container">
      <mat-chip-list>
        <mat-chip *ngFor="let token of tokenizedWords" class="token-chip" color="primary">{{ token }}</mat-chip>
      </mat-chip-list>
    </div>
  
    <button class="modern-button" (click)="performClustering(3)">Perform K-Means Clustering (3 clusters)</button>
    <button class="modern-button" (click)="downloadElbowPlot()">Download Elbow Plot</button>
  </div>
  
  <div>
    <canvas id="wordCountChart" class="modern-canvas"></canvas>
  </div>
  