
    <div>
      <canvas id="barCanvas" width="400" height="400"></canvas>
    </div>
  
    <div>
      <h2>Scatter Chart</h2>
      <canvas id="scatterCanvas" width="400" height="400"></canvas>
    </div>
    <div>
      <h2>SVM Chart</h2>
      <img src="http://127.0.0.1:5000/svm_plot.png" alt="SVM Plot">
    </div>
  
    <div>
      <h2>KNN Chart</h2>
      <img src="http://127.0.0.1:5000/knn_plot.png" alt="SVM Plot">
    </div>
    <div>
      <h2>RFE Chart</h2>
      <img src="http://127.0.0.1:5000/random_forest_rfe.png" alt="SVM Plot">
    </div>

  