<div>
    <h2>KMeans Labels:</h2>
    <ul>
      <li *ngFor="let label of kmeansLabels">{{ label }}</li>
    </ul>
  </div>
  
  <div>
    <h2>CAH Labels:</h2>
    <ul>
      <li *ngFor="let label of cahLabels">{{ label }}</li>
    </ul>
  </div>
  
  <div>
    <h2>DBSCAN Labels:</h2>
    <ul>
      <li *ngFor="let label of dbscanLabels">{{ label }}</li>
    </ul>
  </div>
  
  <div>
    <h2>GMM Labels:</h2>
    <ul>
      <li *ngFor="let label of gmmLabels">{{ label }}</li>
    </ul>
  </div>
  